* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background-color: #0c0c0c;
    font-family: "Roboto";
}

svg {
    fill: rgb(170, 170, 170);
}

/* header */
.container_header {
    background: rgb(32, 32, 32);
    width: 100%;
    height: 5em;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    opacity: 95%;
}

.hamburger {
    margin: 0em 1em;
    transform: scale(1.3);
}

.logo {
    width: 8em;
    margin: 0em 0em 0em 1em;
}

.searchBar {
    width: 30rem;
    height: 2.73em;
    margin-left: 24%;
    background: rgb(18, 18, 18);
    font-size: 12px;
    padding: 2px 6px;
    text-decoration: none;
    border: 2px solid rgb(49, 49, 49);
    outline: none;
    line-height: 40px;
    color: white;
}

.searchButton {
    background: #4b4b4b;
    margin-right: 27%;
    padding: 0.2em 1.5em;
}

.icon {
    width: 1em;
    padding: 0.3em;
    margin: 0.1em;
}

.options ul {
    text-decoration: none;
    list-style: none;
    display: flex;
}

.options ul li {
    padding: 0;
    margin: 0;
}

.options ul li svg {
    transform: scale(2.1);
    margin: 1em;
    padding: 0.1em;
    cursor: pointer;
}

.userAccount {
    text-align: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    font-size: 1.3em;
    padding: 0.3em;
    margin: 0.2em 1em;
    background-color: purple;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}

/* End of header */

/* side menu */
.container_menu {
    bottom: -5em;
    position: fixed;
    width: 12%;
    height: 100%;
    background-color: rgb(32, 32, 32);
    padding-top: 1em;
    overflow: auto;
}

.container_menu svg {
    width: 1.5em;
}

.section {
    margin-top: 1em;
}

.section:after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgb(100, 100, 100);
    position: absolute;
    z-index: 2;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.menu_basic {
    display: flex;
    padding: 0.5em 1em 0.5em 2em;
    color: rgb(221, 221, 221);
    align-items: flex-start;
    justify-content: left;
    overflow: hidden;
}

.menu_basic:hover {
    background-color: #666666;
    cursor: pointer;
}

.menu_basic p {
    margin-left: 1em;
}

.show a {
    text-decoration: none;
}

#cont {
    display: none;
    width: 100%;
}
#show:target #cont {
    display: inline-block;
}
#show:target #show {
    display: none;
}

.menu_title {
    margin-left: 0 !important;
}

.channelImage {
    width: 22px;
    height: 22px;
    background-color: white;
    position: relative;
    z-index: 1;
    border-radius: 50%;
}
/* End of side menu */

/* Suggested Topic Bar */
.contents-container {
    position: fixed;
    height: 100%;
    width: 88%;
    right: 0;
    top: 5em;
    background: none;
    overflow: scroll;
}

.suggested-topics {
    position: absolute;
    height: 4%;
    width: calc(100% - 4em);
    overflow: hidden;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 2em;
    margin-right: 2em;
}

.suggested-topics:after {
    content: "";
    width: 100%;
    height: 2px;
    background: #4b4b4b;
    position: absolute;
    top: 99%;
    z-index: 10;
}

.topic {
    background: #4b4b4b;
    color: white;
    height: 50%;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    margin-right: 15px;
    cursor: pointer;
}

.topic:hover {
    background: #636363;
}

.video-contents {
    position: absolute;
    top: 4%;
    width: calc(100% - 4em);
    margin-left: 2em;
    height: 100%;
    background: none;
    overflow: scroll;
    display: flex;
    align-items: flex-start;
    justify-content: left;
}

.video-contents ul li {
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    margin-top: 1px;
}

.video-card {
    cursor: pointer;
    width: 20.5rem;
    height: 20rem;
    margin: 1em 1em 1em 0;
}

.video-contents ul li .video-card:last-child {
    margin: 1em 0 2em 0;
}

.video-card .thumbnail {
    width: 100%;
}

.video-card .info-box {
    display: flex;
    align-items: flex-start;
}

.video-card .box-left .channelIcon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 10px 0;
}

.video-card .box-right {
    color: white;
    padding: 3px;
    margin: 10px;
    justify-content: right;
    right: 0;
}

.video-card .box-right .video-title {
    color: white;
    margin-bottom: 5px;
    justify-content: left;
}

.video-card .box-right .video-info {
    color: #7a7a7a;
}
